@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .container {
  width: 95%;
  margin: 0 auto;
  padding: 1.5rem 0 0;
}

body .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
  margin-bottom: 2%;
}

body .container nav a {
  color: black;
}

body .container nav a:focus, body .container nav a:active {
  color: black;
}

body .container nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  width: 60%;
}

body .container nav .left img {
  width: 18%;
}

body .container nav .left a:hover {
  border-bottom: 2.5px solid black;
}

body .container nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

body .container nav .right a .icon-margin {
  margin-left: .3rem;
}

body .container nav .right a:hover :where(span) {
  border-bottom: 2.5px solid black;
}

body .container nav .right img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body .container .advertisement-container {
  position: relative;
}

body .container .advertisement-container .left-price {
  padding: 10% 0 0 6%;
}

body .container .advertisement-container .left-price h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

body .container .advertisement-container .left-price p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

body .container .advertisement-container .left-price button {
  padding: .7rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #1A1A1A;
  margin-right: 4rem;
  border-radius: 4px;
  cursor: pointer;
}

body .container .advertisement-container .left-price button:hover :where(span) {
  -webkit-text-decoration: 3px underline #fff;
          text-decoration: 3px underline #fff;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .advertisement-container .left-price i {
  font-size: .8rem;
  margin-left: .5rem;
  cursor: pointer;
}

body .container .advertisement-container .left-price a {
  color: black;
  font-weight: 600;
}

body .container .advertisement-container .left-price a:hover {
  -webkit-text-decoration: 3px underline black;
          text-decoration: 3px underline black;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .advertisement-container .right-photo {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

body .container .advertisement-container .right-photo img {
  width: 100%;
}

body .container .icon-container {
  margin-top: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8%;
}

body .container .icon-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .icon-container .icon .img {
  width: 60px;
  height: 60px;
  margin-bottom: 1.3rem;
}

body .container .icon-container .icon .img img {
  width: 100%;
}

body .container .icon-container .icon a:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
}

body .container .sale-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
}

body .container .sale-container .material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

body .container .sale-container .material .img {
  margin-bottom: 16%;
}

body .container .sale-container .material .img img {
  width: 100%;
}

body .container .sale-container .material .new-ctr {
  margin-top: -8%;
  width: 20%;
}

body .container .sale-container .material .new-ctr .new {
  display: inline-block;
  width: 100%;
  background-color: yellow;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

body .container .sale-container .material .bottom-ctr {
  margin-bottom: 30%;
}

body .container .sale-container .material .bottom-ctr h2 {
  font-size: 2.1rem;
  margin-bottom: 9%;
  font-weight: 500;
}

body .container .sale-container .material .bottom-ctr p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 9%;
}

body .container .sale-container .material .bottom-ctr a {
  font-size: 1.3rem;
}

body .container .sale-container .material .bottom-ctr a:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .sale-container .material .bottom-ctr a i {
  margin-left: 0.5%;
}

body .container .sale-container .material .bottom-ctr a:hover :where(i) {
  margin-left: 2%;
}

body .container .sale-container .material .bottom-ctr .link-two {
  margin-right: 6%;
}

body .container .second-advertisement {
  position: relative;
}

body .container .second-advertisement .left {
  padding: 13% 0 0 6%;
}

body .container .second-advertisement .left h2 {
  font-size: 2.6rem;
  margin-bottom: 2%;
}

body .container .second-advertisement .left p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9em;
  margin-bottom: 2.2%;
}

body .container .second-advertisement .left button {
  padding: .9rem 1.1rem;
  font-size: 1.1rem;
  background-color: #005CA5;
  border: none;
  color: #fff;
  font-weight: 550;
  cursor: pointer;
}

body .container .second-advertisement .overlap-img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

body .container .second-advertisement .overlap-img img {
  width: 100%;
}

body .container .sale-container2 {
  margin: 16% 0 10%;
}

body .container .sale-container2 h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.7%;
}

body .container .sale-container2 .wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

body .container .sale-container2 .wrapper-container .wrapper {
  width: 25%;
}

body .container .sale-container2 .wrapper-container .wrapper .img {
  width: 100%;
  margin-bottom: 12%;
}

body .container .sale-container2 .wrapper-container .wrapper .img img {
  width: 100%;
}

body .container .sale-container2 .wrapper-container .wrapper .new-ctr {
  margin-top: -8%;
  width: 20%;
}

body .container .sale-container2 .wrapper-container .wrapper .new-ctr .new {
  display: inline-block;
  width: 100%;
  background-color: yellow;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}

body .container .sale-container2 .wrapper-container .wrapper h3 {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 9%;
}

body .container .sale-container2 .wrapper-container .wrapper p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 9%;
}

body .container .sale-container2 .wrapper-container .wrapper a {
  font-size: 1.2rem;
  font-weight: 500;
}

body .container .sale-container2 .wrapper-container .wrapper a:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .sale-container2 .wrapper-container .wrapper a i {
  margin-left: 0.5%;
}

body .container .sale-container2 .wrapper-container .wrapper a:hover :where(i) {
  margin-left: 2%;
}

body .container .game-advertisement {
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4RBHW?ver=a523&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=0&s=1898&d=712&aim=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 11% 0 0 6%;
  margin-bottom: 3%;
  color: #fff;
}

body .container .game-advertisement .left h3 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 2%;
}

body .container .game-advertisement .left p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1.8%;
}

body .container .game-advertisement .left button {
  padding: .7rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1A1A1A;
  background-color: #fff;
  margin-right: 4rem;
  border-radius: 4px;
  cursor: pointer;
}

body .container .game-advertisement .left button:hover :where(span) {
  -webkit-text-decoration: 3px underline black;
          text-decoration: 3px underline black;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .game-advertisement .left a {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

body .container .game-advertisement .left a i {
  font-size: .9rem;
}

body .container .game-advertisement .left a:hover {
  -webkit-text-decoration: 3px underline #fff;
          text-decoration: 3px underline #fff;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .game-advertisement .left a:hover :where(span) {
  -webkit-text-decoration: 3px underline #fff;
          text-decoration: 3px underline #fff;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .contant-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
  gap: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .contant-logo p {
  font-size: 1.3rem;
  color: #666697;
}

body .container .contant-logo .logo i {
  font-size: 2.5em;
  cursor: pointer;
}

body .container .contant-logo .logo .fc {
  color: #3B5499;
}

body .container .contant-logo .logo .tw {
  color: #4C9AD6;
}

body .container .contant-logo .logo .lin {
  color: #016BA3;
}

@media (max-width: 1240px) {
  body .container nav {
    font-size: .7rem;
  }
  body .container nav .left {
    width: 65%;
  }
  body .container nav .left img {
    width: 14%;
  }
  body .container nav .right {
    gap: .6rem;
  }
  body .container nav .right .search, body .container nav .right .cart {
    display: none;
  }
  body .container .advertisement-container .left-price {
    padding: 8% 0 0 4%;
  }
  body .container .advertisement-container .left-price h1 {
    font-size: 1.5em;
    margin-bottom: .9rem;
  }
  body .container .advertisement-container .left-price p {
    font-size: .85em;
    line-height: 1.1rem;
  }
  body .container .advertisement-container .left-price i {
    font-size: .5rem;
    margin-left: .2rem;
  }
  body .container .advertisement-container .left-price button {
    font-size: .7rem;
    padding: .5rem 1rem;
  }
  body .container .advertisement-container .left-price a {
    font-size: .75rem;
    font-weight: 500;
  }
  body .container .icon-container .icon .img {
    width: 40px;
    height: 40px;
  }
  body .container .icon-container .icon a {
    text-align: center;
    color: black;
  }
  body .container .sale-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: .5%;
  }
  body .container .sale-container .material {
    width: 45%;
  }
  body .container .sale-container .material .new-ctr {
    margin-top: -10%;
    margin-bottom: .5rem;
  }
  body .container .sale-container .material .bottom-ctr h2 {
    font-size: 1.7em;
    margin-bottom: 5%;
  }
  body .container .sale-container .material .bottom-ctr p {
    font-size: 1.1em;
  }
  body .container .sale-container .material .bottom-ctr a {
    font-size: 1.1em;
  }
  body .container .second-advertisement .left h2 {
    font-size: 2em;
  }
  body .container .second-advertisement .left p {
    font-size: 1em;
  }
  body .container .second-advertisement .left button {
    font-size: .85em;
    padding: .7em .9em;
  }
  body .container .sale-container2 h2 {
    font-size: 2.5em;
    margin-left: 3%;
  }
  body .container .sale-container2 .wrapper-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 1%;
  }
  body .container .sale-container2 .wrapper-container .wrapper {
    width: 45%;
  }
  body .container .sale-container2 .wrapper-container .wrapper .new-ctr {
    margin-top: -10%;
    margin-bottom: .5rem;
  }
  body .container .sale-container2 .wrapper-container .wrapper h3 {
    font-size: 1.8em;
    margin-bottom: 4%;
  }
  body .container .sale-container2 .wrapper-container .wrapper p {
    font-size: 1.1em;
    margin-bottom: 4.5%;
  }
  body .container .sale-container2 .wrapper-container .wrapper a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1em;
    margin-bottom: 6%;
  }
  body .container .sale-container2 .wrapper-container .wrapper a i {
    font-size: .7em;
    margin-left: .9%;
  }
  body .container .game-advertisement {
    height: auto;
    padding: 7% 0 15% 4%;
  }
  body .container .game-advertisement .left h3 {
    font-size: 2em;
  }
  body .container .game-advertisement .left p {
    font-size: .9em;
  }
  body .container .game-advertisement .left button {
    padding: .6em 1em;
    font-size: .8em;
  }
  body .container .game-advertisement .left button i {
    font-size: .8em;
  }
  body .container .game-advertisement .left a {
    font-size: .9em;
  }
  body .container .game-advertisement .left a i {
    font-size: .8em;
  }
  body .container .contant-logo {
    gap: 2.5%;
  }
  body .container .contant-logo p {
    font-size: 1em;
  }
  body .container .contant-logo .logo i {
    font-size: 1.5em;
  }
}

@media (max-width: 540px) {
  body .container {
    padding: 1.5rem 0 0 .6rem;
  }
  body .container nav {
    margin-bottom: 6%;
  }
  body .container nav .left i {
    font-size: 1.8rem;
    margin-right: 7%;
  }
  body .container nav .left img {
    width: 48%;
  }
  body .container nav .left a {
    display: none;
  }
  body .container nav .right {
    gap: 0.8rem;
  }
  body .container nav .right a i {
    font-size: 1.2rem;
    margin-right: 7%;
  }
  body .container nav .right .none-item {
    display: none;
  }
  body .container .advertisement-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container .advertisement-container .left-price {
    padding: 45% 0 0 0;
  }
  body .container .advertisement-container .left-price h1 {
    font-size: 1.4rem;
  }
  body .container .advertisement-container .left-price p {
    line-height: 1.7rem;
    font-size: 1.05rem;
  }
  body .container .advertisement-container .left-price button {
    width: 40%;
    display: block;
    margin: 0 auto;
    padding: .8rem;
    font-size: .9rem;
  }
  body .container .advertisement-container .left-price a {
    text-align: center;
    display: block;
    margin-top: 1rem;
    font-size: .9rem;
  }
  body .container .advertisement-container .right-photo img {
    width: 100%;
  }
  body .container .icon-container {
    display: block;
  }
  body .container .icon-container .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4%;
    margin-bottom: 4%;
  }
  body .container .icon-container .icon .img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  body .container .sale-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container .sale-container .material {
    width: 100%;
  }
  body .container .sale-container .material .new-ctr {
    margin-top: -11%;
    margin-bottom: 3%;
  }
  body .container .sale-container .material .new-ctr .new {
    font-size: .9rem;
    padding: .3rem 1rem;
  }
  body .container .sale-container .material .bottom-ctr h2 {
    font-size: 1.4rem;
    margin-bottom: 3%;
  }
  body .container .sale-container .material .bottom-ctr p {
    font-size: 1rem;
    margin-bottom: 5%;
  }
  body .container .sale-container .material .bottom-ctr a {
    font-size: 1rem;
  }
  body .container .sale-container .material .bottom-ctr a i {
    font-size: .7rem;
  }
  body .container .second-advertisement {
    padding: 30% 0 0 0;
  }
  body .container .second-advertisement .left h2 {
    font-size: 1.5rem;
  }
  body .container .second-advertisement .left p {
    font-size: .9rem;
    margin-bottom: 3%;
  }
  body .container .second-advertisement .left button {
    font-size: .78rem;
  }
  body .container .second-advertisement .overlap-img {
    top: 0;
    bottom: 0;
  }
  body .container .sale-container2 h2 {
    font-size: 1.5rem;
  }
  body .container .sale-container2 .wrapper-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container .sale-container2 .wrapper-container .wrapper {
    width: 100%;
  }
  body .container .sale-container2 .wrapper-container .wrapper .new-ctr {
    margin-top: -11%;
    margin-bottom: 3%;
  }
  body .container .sale-container2 .wrapper-container .wrapper .new-ctr .new {
    font-size: .9rem;
    padding: .3rem 1rem;
  }
  body .container .sale-container2 .wrapper-container .wrapper h3 {
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  body .container .sale-container2 .wrapper-container .wrapper p {
    font-size: 1rem;
    line-height: 2rem;
  }
  body .container .sale-container2 .wrapper-container .wrapper a {
    font-size: .9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .sale-container2 .wrapper-container .wrapper a i {
    font-size: .6rem;
  }
  body .container .game-advertisement {
    padding: 0;
    background-position: right;
    position: relative;
    height: 270px;
  }
  body .container .game-advertisement .left {
    position: absolute;
    bottom: -70%;
    color: black;
    margin-bottom: 5%;
  }
}
/*# sourceMappingURL=style.css.map */