@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .container {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0 0;
}

body .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
  margin-bottom: 2%;
}

body .container nav a {
  color: black;
}

body .container nav a:focus, body .container nav a:active {
  color: black;
}

body .container nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  width: 60%;
}

body .container nav .left img {
  width: 18%;
}

body .container nav .left a:hover {
  border-bottom: 2.5px solid black;
}

body .container nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

body .container nav .right a .icon-margin {
  margin-left: .3rem;
}

body .container nav .right a:hover :where(span) {
  border-bottom: 2.5px solid black;
}

body .container nav .right img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body .container .advertisement-container {
  position: relative;
}

body .container .advertisement-container .left-price {
  padding: 10% 0 0 6%;
}

body .container .advertisement-container .left-price h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

body .container .advertisement-container .left-price p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}

body .container .advertisement-container .left-price button {
  padding: .7rem 1.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #1A1A1A;
  margin-right: 4rem;
  cursor: pointer;
}

body .container .advertisement-container .left-price button:hover :where(span) {
  border-bottom: 2px solid white;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .advertisement-container .left-price i {
  font-size: .8rem;
  margin-left: .5rem;
  cursor: pointer;
}

body .container .advertisement-container .left-price a {
  color: black;
  font-weight: 600;
}

body .container .advertisement-container .left-price a:hover :where(span) {
  border-bottom: 2.5px solid black;
  margin-right: .1rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

body .container .advertisement-container .right-photo {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

body .container .advertisement-container .right-photo img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */