@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;

    .container {
        width: 95%;
        margin: 0 auto;
        padding: 1.5rem 0 0;

        nav {
            display: flex;
            justify-content: space-between;
            font-size: .9rem;
            margin-bottom: 2%;
            
            a {
                color: black;

                &:focus,&:active {
                    color: black;
                }

               
            }

            $align-items: center;

            .left {
                display: flex;
                align-items: $align-items;
                gap: 2%;
                width: 60%;

                img {
                    width: 18%;
                }
                
                a {

                    &:hover {
                        border-bottom: 2.5px solid black;
                    }
                }
            }

            .right {
                display: flex;
                align-items: $align-items;
                gap: 1.3rem;

                a {

                    .icon-margin {
                        margin-left: .3rem;
                    }

                    &:hover :where(span){
                        border-bottom: 2.5px solid black;


                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }

        @mixin button($color,$bg-color,) {
            padding: .7rem 1.3rem;
            font-size: 1rem;
            font-weight: 600;
            color: $color;
            background-color: $bg-color;
            margin-right: 4rem;
            border-radius: 4px;
        }

        @mixin hoverButton($line-color) {
            text-decoration: 3px underline $line-color;
            margin-right: .1rem;
            transition: all 200ms ease;
        }

        .advertisement-container {
            position: relative;

            .left-price {
                padding: 10% 0 0 6%;

                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    margin-bottom: 1.3rem;
                }

                p {
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                    margin-bottom: 1.5rem;
                }
                $cursor: pointer;
                button {
                    @include button(#fff,#1A1A1A);  
                    cursor: $cursor;
                   
                    &:hover :where(span) {
                        @include hoverButton(#fff);
                    }
                }
                i {
                    font-size: .8rem;
                    margin-left: .5rem;
                    cursor: $cursor;
                }

                a {
                    color: black;
                    font-weight: 600;

                    &:hover {
                        @include hoverButton(black);

                    }
                }
            }

            .right-photo {
                position: absolute;
                top: 0;
                z-index: -1;
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .icon-container {
            margin-top: 17%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 8%;

            .icon {
                display: flex;
                flex-direction: column;
                align-items: center;

                .img {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 1.3rem;
                    
                    img {
                        width: 100%;
                    }
                }

                a:hover {
                    text-decoration: underline 3px;
                }
            }
        }

        @mixin new {
            display: inline-block;
            width: 100%;
            background-color: yellow;
            padding: .5rem 1rem;
            font-size: 1.1rem;
            font-weight: 400;
            text-align: center;
        }

        
        $font-size3: 2.1rem;
        $margin-bottom2: 9%;
        $font-weight2: 500;
        
        $font-size4: 1.3rem;
        $font-weight3: 400;
        $line-height2: 2.4rem;
        $margin-bottom3: 9%;

        .sale-container {
            display: flex;
            justify-content: space-between;
            gap: 2%;

            .material {
                display: flex;
                flex-direction: column;
                width: 25%;

                .img {
                    margin-bottom: 16%;

                    img {
                        width: 100%;
                    }
                }

                .new-ctr {
                    margin-top: -8%;
                    width: 20%;

                    .new {
                        @include new();
                    }
                }

                .bottom-ctr {
                    margin-bottom: 30%;

                    h2 {
                        font-size: $font-size3;
                        margin-bottom: $margin-bottom2;
                        font-weight: $font-weight2;
                    }

                    p {
                        font-size: $font-size4;
                        font-weight: $font-weight3;
                        line-height: $line-height2;
                        margin-bottom: $margin-bottom3;
                    }

                    a {
                         font-size: 1.3rem;

                         &:hover {
                             text-decoration: underline 3px;
                             transition: all 200ms ease;
                         }

                        i {
                             margin-left: 0.5%;


                         }

                         &:hover :where(i){
                            margin-left: 2%;
                        }

                    }

                    .link-two {
                        margin-right: 6%;
                    }
                }
            }
        }

        .second-advertisement {
            position: relative;

            .left {
                padding: 13% 0 0 6%;

                h2 {
                    font-size: 2.6rem;
                    margin-bottom: 2%;
                }

                p {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.9em;
                    margin-bottom: 2.2%;
                }

                button {
                    padding: .9rem 1.1rem;
                    font-size: 1.1rem;
                    background-color: #005CA5;
                    border: none;
                    color: #fff;
                    font-weight: 550;
                    cursor: pointer;
                }
            }

            .overlap-img {
                position: absolute;
                top: 0;
                z-index: -1;
                width: 100%;
                
                img {
                    width: 100%;
                }
            }
        }


        
        .sale-container2 {
            margin: 16% 0 10%;
            
            h2 {
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 1.7%;
            }

            .wrapper-container {
                display: flex;
                gap: 2%;

                .wrapper {
                    width: 25%;

                    .img {
                        width: 100%;
                        margin-bottom: 12%;

                        img {
                            width: 100%;
                        }
                    }

                    .new-ctr {
                        margin-top: -8%;
                        width: 20%;

                        .new {
                            @include new();
                        }
                    }

                    h3 {
                        font-size: $font-size3;
                        font-weight: $font-weight2;
                        margin-bottom: $margin-bottom2;
                    }

                    p {
                        font-size: $font-size4;
                        font-weight: $font-weight3;
                        line-height: $line-height2;
                        margin-bottom: $margin-bottom3;
                    }

                    a {
                        font-size: 1.2rem;
                        font-weight: 500;

                        &:hover {
                            text-decoration: underline 3px;
                            transition: all 200ms ease;
                        }

                        
                        i {
                            margin-left: 0.5%;


                        }

                        &:hover :where(i){
                           margin-left: 2%;
                       }

                    }
                }
            }
        }

        .game-advertisement {
            background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4RBHW?ver=a523&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=0&s=1898&d=712&aim=true);

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 600px;
            padding: 11% 0 0 6%;;
            margin-bottom: 3%;
            color: #fff;

            .left {

                h3 {
                    font-size: 2.8rem;
                    font-weight: $font-weight2;
                    margin-bottom: 2%;
                }
    
                p {
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    margin-bottom: 1.8%;
                }
    
                button {
                    @include button(#1A1A1A,#fff);
                    cursor: pointer;
    
                    &:hover :where(span) {
                        @include hoverButton(black);
                    }
                }
    
                a {
                    color: white;
                    font-weight: 600;
                    font-size: 1.1rem;
    
                    i {
                        font-size: .9rem;
                    }
    
                    &:hover {
                        @include hoverButton(#fff);
                    }
    
                    &:hover :where(span) {
                        @include hoverButton(#fff);
                    }
                }
            }


        }

        .contant-logo {
            display: flex;
            margin-bottom: 3%;
            gap: 1%;
            align-items: center;

            p {
                font-size: 1.3rem;
                color: #666697;
            }

            .logo {

                i {
                    font-size: 2.5em;
                    cursor: pointer;
                }
                .fc {
                    color: #3B5499;
                }
                .tw {
                    color: #4C9AD6;
                }
                .lin {
                    color: #016BA3;
                }
            }
        }

    }

    @media (max-width: 1240px) {
        .container {

            nav {
                font-size: .7rem;

                .left {
                    width: 65%;
    
                    img {
                        width: 14%;
                    }
                }
    
                .right {
                    gap: .6rem;
                    
                    .search , .cart {
                        display: none;
                    }
                }
            }

            @mixin hoverButton($line-color) {
                text-decoration: .5px underline $line-color;
            }

            .advertisement-container {
                 
                .left-price {
                    padding: 8% 0 0 4%;

                    h1 {
                        font-size: 1.5em;
                        margin-bottom: .9rem;
                    }

                    p {
                        font-size: .85em;
                        line-height: 1.1rem;
                    }

                    i {
                        font-size: .5rem;
                        margin-left: .2rem;
                    }
                    button {
                        font-size: .7rem;
                        padding: .5rem 1rem;


                        
                    }

                    a {
                        font-size: .75rem;
                        font-weight: 500;
                    }
                }
            }

            .icon-container {

                .icon {

                    .img {
                        width: 40px;
                        height: 40px;
                    }

                    a {
                        text-align: center;
                        color: black;
                    }
                }
            }

            @mixin new-margin {
                margin-top: -10%;
                margin-bottom: .5rem;
            }

            .sale-container {
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: .5%;

                .material {
                    width: 45%;

                    .new-ctr {
                        @include new-margin();
                    }

                    .bottom-ctr {

                        h2 {
                            font-size: 1.7em;
                            margin-bottom: 5%;
                        }

                        p {
                            font-size: 1.1em;
                        }

                        a {
                            font-size: 1.1em;
                        }
                    }
                }
            }

            .second-advertisement {

                .left {

                    h2 {
                        font-size: 2em;
                    }

                    p {
                        font-size: 1em;
                    }

                    button {
                        font-size: .85em;
                        padding: .7em .9em;
                    }
                }
            }

            .sale-container2  {
                h2 {
                    font-size: 2.5em;
                    margin-left: 3%;
                }

                .wrapper-container {
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    gap: 1%;

                    .wrapper {
                        width: 45%;

                        .new-ctr {
                            @include new-margin();
                        }

                        h3 {
                            font-size: 1.8em;
                            margin-bottom: 4%;
                        }
                         
                        p {
                            font-size: 1.1em;
                            margin-bottom: 4.5%;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            font-size: 1em;
                            margin-bottom: 6%;

                            i {
                                font-size: .7em;
                                margin-left: .9%;
                            }
                        }
                    }
                }
            }

            .game-advertisement {
                height: auto;
                padding: 7% 0 15% 4%;

                .left {

                    h3 {
                        font-size: 2em;
                    }
    
                    p {
                        font-size: .9em;
                    }
    
                    button {
                        padding: .6em 1em;
                        font-size: .8em;

                        i {
                            font-size: .8em;
                        }
                    }
                    

                    a {
                        font-size: .9em;

                        i {
                            font-size: .8em;
                        }
                    }
                    
                    
                }
            }

            .contant-logo {
                gap: 2.5%;

                p {
                    font-size: 1em;
                }

                .logo {
                    i {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    @media (max-width: 540px) {
    .container {
        padding: 1.5rem 0 0 .6rem;

        nav {
            margin-bottom: 6%;

            .left {
                i {
                    font-size: 1.8rem;
                    margin-right: 7%;
                }

                img {
                    width: 48%;
                }


                a {
                    display: none;
                }
            }

            .right {
                gap: 0.8rem;

                a {

                    i {
                        font-size: 1.2rem;
                        margin-right: 7%;
                    }
                }

                .none-item {
                    display: none;
                }
            }
        }

        .advertisement-container {
            display: flex;

            .left-price {
                padding: 45% 0 0 0;

                h1 {
                    font-size: 1.4rem;
                }

                p {
                    line-height: 1.7rem;
                    font-size: 1.05rem;
                }
                button {
                    width: 40%;
                    display: block;
                    margin: 0 auto;
                    padding: .8rem;
                    font-size: .9rem;
                }

                a {
                    text-align: center;
                    display: block;
                    // margin: .9rem auto;
                    margin-top: 1rem;
                    font-size: .9rem;
                }
            }

            .right-photo {

                img {
                    width: 100%;
                }
            }
        }
    }
    }
}
